USE [master]
GO
/****** Object:  Database [HD_meat]    Script Date: 10.12.2024 19:32:08 ******/
CREATE DATABASE [HD_meat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HD_meat_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_HD\MSSQL\DATA\HD_meat_Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'HD_meat_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_HD\MSSQL\DATA\HD_meat_Log.ldf' , SIZE = 3072KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HD_meat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HD_meat]
GO
/****** Object:  Table [dbo].[CZAS]    Script Date: 10.12.2024 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CZAS](
	[id_czas] [varchar](14) NOT NULL,
	[rok] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_czas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jednostka_miary]    Script Date: 10.12.2024 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jednostka_miary](
	[id_jednostka_miary] [int] NOT NULL,
	[symbol] [varchar](10) NULL,
	[nazwa] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_jednostka_miary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lokalizacja]    Script Date: 10.12.2024 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lokalizacja](
	[id_lokalizacja] [int] NOT NULL,
	[wojewodztwo] [varchar](19) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lokalizacja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produkt]    Script Date: 10.12.2024 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produkt](
	[id_produkt] [int] NOT NULL,
	[nazwa_produktu] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produkt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reformatted_data]    Script Date: 10.12.2024 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reformatted_data](
	[kod] [decimal](28, 0) NULL,
	[zmienna] [varchar](250) NULL,
	[data] [decimal](28, 0) NULL,
	[produkt] [varchar](250) NULL,
	[cena] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tfakt]    Script Date: 10.12.2024 19:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfakt](
	[id_czas] [varchar](14) NULL,
	[id_lokalizacja] [int] NULL,
	[id_produkt] [int] NULL,
	[id_jednostka_miary] [int] NULL,
	[wartosc] [numeric](10, 2) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tfakt]  WITH CHECK ADD FOREIGN KEY([id_czas])
REFERENCES [dbo].[CZAS] ([id_czas])
GO
ALTER TABLE [dbo].[tfakt]  WITH CHECK ADD FOREIGN KEY([id_jednostka_miary])
REFERENCES [dbo].[jednostka_miary] ([id_jednostka_miary])
GO
ALTER TABLE [dbo].[tfakt]  WITH CHECK ADD FOREIGN KEY([id_lokalizacja])
REFERENCES [dbo].[lokalizacja] ([id_lokalizacja])
GO
ALTER TABLE [dbo].[tfakt]  WITH CHECK ADD FOREIGN KEY([id_produkt])
REFERENCES [dbo].[produkt] ([id_produkt])
GO
USE [master]
GO
